/* 
colors
phthalo green - #0f3714
maximum green - #618b35
bone - #e2dcd0
milk - #fffdf6
*/


body {
    margin: 0; 
    background-color:#fdfdfd; 

    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  /* h1 {
    background-color: #608162; 
    margin: 0; 
  } */

.flex-header {

    background-color: #EFEFEF; 

    color: #081B21;

}

.flex-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: auto; /*override body margin*/
/* 
    border-style: solid;
    border-width: 5px;
    border-color: blueviolet;
    border-radius: 10px; */
}

.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFEFEF;
    margin: 10px;

    border-style: solid;
    border-width: 5px;
    border-color: #EFEFEF;
    border-radius: 15px;


    text-align: center;
    color: #242424;
    /* padding: 10px; */

}
.flex-footer {
    margin-top: 20px;
    margin-bottom: 0;

    justify-content: center;

    background-color: #EFEFEF; 

    color: #081B21;
    /* font-weight: 800 !important; */
    padding: 15px;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

/* 
title text color: 
body text color: #bedbbf
*/